.tournament-title-bar {
  font-weight: 500;
  font-size: 24px;
  width: 500px;
  position: absolute;
  z-index: 40;
  left:calc(50% - 250px);
  top: 45px;
  text-transform: uppercase;
  text-align: center;
}

.topbar-scoreboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  text-transform: uppercase;
  .topbar-team {
    flex:1;
    display: flex;
    align-items: center;
    padding: 0 17px;
    height: 100%;
    position: relative;
    .kills {
      
    margin-left: auto;
    font-size: 21px;

    }
    &.tournament-info {
      font-size: 21px;
      text-transform: uppercase;
      font-weight: 300;
      display: flex;
      justify-content: center;
      margin: 0 56px;
      flex: unset;
      min-width: 200px;
      strong {
        margin-right: 15px;
        font-weight: 500;
      }
    }
    .logo {
      height: 30px;
      width: 30px;
      object-fit: contain;
      margin-right: 30px;
    }
    &.order-1 .border-bottom {
      background: #761BCA;
    }
    &.order-2 .border-bottom {
      background: #C22987;
    }
    &.order-3 .border-bottom {
      background: #F3A712;
    }
    .border-bottom {
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      left:0px;
    }
    .order {
      width: 32px;
      height: 32px;
      font-size: 18px;
      background: rgba(255,255,255,0.2);
      margin-right: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}