.team-comparison {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(248.99deg, #C73742 19.12%, #FEB139 101.03%);

  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: opacity 0.5s;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

.team-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.team-panel-heading {
  img.logo {
    width: 120px;
    height: 100px;
    object-fit: contain;
    margin-right: 40px;
  }
}