.event {
  background-color: rgba(0, 19, 2, 0.767);
  display: block;
  width: 100%;
}

.hud-popup-panel {
  background-color: rgba(0, 19, 2, 0.767);
  display: block;
  width: 40%;
  position: absolute;
}